@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*************************
*******Core elements******
**************************/

.responsive img
{
  width: 100%!important;
  height: auto!important;
}

@media (min-width: 1200px) {
  .responsive img
  {
    width: 75%!important;
    margin-left:12.5%;
    margin-right:12.5%;
  }
}

.twitter-timeline{
  margin-top:1.5em;
}

.logo-s{
  line-height: 100px;
  margin-top:20px; 
  margin-left:0px;
}

.preload_bg{
  background:#fff;
  width:100%;
  height:100%;
  position:fixed;
  z-index:99;
  top:0;
  bottom:0;
  }

.loading_ani{
  width:128px;
  height:15px;
  background:url(images/ajax-loader.gif) no-repeat;
  position:fixed;
  margin-left:50%;
  margin-right:50%;
  left:-64px;
  margin-top:310px;
  }

#loading_logo{
  background: url(images/fever_logo.png) no-repeat;
  width: 241px;
  height: 100px;
  display: inline-block;
  margin-top: 10px;
  }

/*************************
*******Typography******
**************************/

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 26px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #c52d2f;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}


.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

#logo{
  height:1.5em;
  margin-bottom:20px;
}

.top-bar {
  padding: 10px 0;
  background: #191919;
  line-height: 28px;
}

.top-number{
  color: #fff;
}

.top-number p{
  margin: 0
}

.social{
  text-align: right;
}

.social-share{
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.social-share li {
  display: inline-block;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.social-share li a:hover {
  background: #c52d2f;
  color: #fff;
}

.search i {
  color: #fff;
}

input.search-form{
  background: transparent;
  border: 0 none;
  width: 60px;
  padding: 0 10px;
  color: #FFF;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}

input.search-form:hover {
  width: 180px;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding: 15px 0;
  padding-bottom: 0;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  #navibar {
    width:100%;
  }
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 25px;
  padding-bottom: 28px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #1f1f20;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}


/**************************
********* Table CSS *
**************************/

table
{
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: fixed;
      width: 100%;
}

th, td
{
  word-wrap: break-word;
}

/**************************
********* Bottom Table CSS *
**************************/

.table_heading {
  margin-top: 120px
}

.table_heading h2, 
.table_heading p {
  color:#4e4e4e;
}

.table-area h1 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0px;
}

.table-area span {
  font-weight: 700;
  font-size: 18px;
}

.table-area h3, 
.table-area span  {
  color: #fff;
}

.plan {
  position: relative;
  margin-bottom: 70px;
}

.table-area ul {
  background:#FAFAFA;
  padding: 0;
  margin: 0;
}

.table-area ul li {
  list-style: none;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 400;
}

.table-area ul li:nth-child(even){
  background:#f5f5f5
}

.table-area .item-three img, 
.table-area .item-six img {
  position: absolute;
  right: 15px;
  top: 0;
}

.table-area .heading-one, 
.table-area .heading-two, 
.table-area .heading-three {
  padding:17px 0;
  border-radius:2px 2px 0 0;
} 

.table-area .heading-one, 
.table-area .heading-two, 
.table-area .heading-three, 
.table-area .heading-four, 
.table-area .heading-five, 
.table-area .heading-six, 
.table-area .heading-seven {
  /*margin-left: -10px*/
}


.table-area .heading-one, 
.table-area .item-one .plan-action .btn-primary {
  background: #e24f43
}

.table-area .heading-two, 
.table-area .item-two .plan-action .btn-primary {
  background:#27AE60;
}

.table-area .heading-three,
.table-area .item-three .plan-action .btn-primary {
  background: #f39c12;
}

.table-area .heading-four, 
.table-area .item-four .plan-action .btn-primary {
  background: #5c5c5c
}

.table-area .heading-five, 
.table-area .item-five .plan-action .btn-primary {
  background: #5c5c5c
}

.table-area .heading-six, 
.table-area .item-six .plan-action .btn-primary {
  background: #e24f43
;
}

.table-area .heading-seven, 
.table-area .item-seven .plan-action .btn-primary {
  background: #5c5c5c
}

.table-area .bg{
 background: #fafafa 
}

.table-area .heading-one h3:before {
  border-color: #bf4539 transparent transparent;
}

.table-area .heading-two h3:before {
  border-color: #1f8c4d transparent transparent;
}

.table-area .heading-three h3:before {
  border-color: #d4880f transparent transparent;
}

.table-area .heading-four h3:before {
  border-color: #424242 transparent transparent;
}

.table-area .heading-five h3:before {
  border-color: #424242 transparent transparent;
}

.table-area .heading-six h3:before {
  border-color: #bf4539 transparent transparent;
}

.table-area .heading-seven h3:before {
  border-color: #424242 transparent transparent;
}

.table-area h3:before {
  border-color: #D4880F transparent transparent;
  border-radius: 5px 0 0 0px;
  border-style: solid;
  border-width: 12px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  top: 78px;
  width: 0;
  z-index: -999;
}

.small-table h3:after {
  height:94px;
}

.small-table h3:before {
  top: 74px;
}

.plan-action {
  height: 40px;
}

.table-area .plan-action .btn-primary {
  position: relative;
  padding:5px 20px;
  color: #fff
;
  margin-top: 5px;
}

.table-area .plan-action .btn-primary:before {
  border-color: #E24F43 transparent transparent;
  border-radius: 5px 0 0 0;
  border-style: solid;
  border-width: 12px;
  bottom: -12px;
  content: "";
  height: 0;
  left: -9px;
  position: absolute;
  width: 0;
  z-index: -1;
}

.table-area .plan-action .btn-primary:after {
  border-color: #E24F43 transparent transparent;
  border-radius: 5px 0 0 0;
  border-style: solid;
  border-width: 12px;
  bottom: -12px;
  content: "";
  height: 0;
  position: absolute;
  right: -9px;
  width: 0;
  z-index: -1;
}

.table-area .item-two .plan-action .btn-primary:before, 
.table-area .item-two .plan-action .btn-primary:after {
  border-color: #1f8c4d transparent transparent;
}

.table-area .item-three .plan-action .btn-primary:before, 
.table-area .item-three .plan-action .btn-primary:after {
  border-color: #d4880f transparent transparent;
}

.table-area .item-four .plan-action .btn-primary:before, 
.table-area .item-four .plan-action .btn-primary:after, 
.table-area .item-five .plan-action .btn-primary:before, 
.table-area .item-five .plan-action .btn-primary:after, 
.table-area .item-seven .plan-action .btn-primary:before, 
.table-area .item-seven .plan-action .btn-primary:after  {
  border-color: #424242 transparent transparent;
  right: -9px;
}

.table-area .item-six .plan-action .btn-primary:before, 
.table-area .item-six .plan-action .btn-primary:after {
  border-color: #bf4539 transparent transparent;
  right: -9px;
}


/******************
 404 page css
 ******************/

#error .btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  color: #4E4E4E;
}

#error h1{
  color: #4e4e4e;
  text-transform: uppercase;
}


/***********************
********* Footer ******
************************/
#bottom {
  background: #f5f5f5;
  border-bottom: 5px solid #c52d2f;
  font-size: 14px;
}

#bottom h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size:22px;
  color: #000;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #808080;
}

#bottom ul li a:hover {
  color: #c52d2f;
}

#bottom .widget {
  margin-bottom: 0;
}

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #c52d2f;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}






