<table class="table b" style="width:100%;border-collapse: collapse;text-align:center">
	<thead>
		<tr>
			<th class="b"><b>Name</b></th>
			<th class="b"><b>Organization</b></th>
			<th class="b"><b>Website</b></th>
			<th class="b"><b>Social</b></th>
			<th class="b"><b>Interests</b></th>
		</tr>
	</thead>
	<tbody>
		{% for member in site.data.coming %}
			{% if member %}
			<tr>
				<td class="b">{{ member.name }}</td>
				<td class="b">{{ member.org }}</td>
				<td class="b"><a href="{{ member.website }}">{{ member.website }}</a></td>
				<td class="b">
					<ul class="table-social-links">
						<a href="{{ member.facebook }}"><li>facebook</li></a>
						<a href="{{ member.twitter }}"><li>twitter</li></a>
					</ul>
				</td>
				<td class="b">{{ member.interests }}</td>
			</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
