<table id="coming-table" class="table b" style="width: 100%; border-collapse: collapse; text-align: center; table-layout: fixed;">
	<thead>
		<tr>
			<th class="b"><b>Name</b></th>
			<th class="b"><b>Organization</b></th>
			<th class="b"><b>Social</b></th>
			<th class="b" style="width: 34% !important;"><b>Interests</b></th>
		</tr>
	</thead>
	<tbody>
		{% for member in site.data.coming %}
			{% if member %}
			<tr>
				<td class="member-email">{{ member.email }}</td>
				<td class="b member-name">{{ member.name }}</td>
				<td class="b">{{ member.org }}</td>
				<td class="b">
					<ul class="table-social-links">
						{% if member.website != '' %}
							<a class="social-website" href="{{ member.website }}"><li><i class="fa fa-globe"></i></li></a>
						{% endif %}
						{% if member.facebook != '' %}
							<a class="social-facebook" href="{{ member.facebook }}"><li><i class="fa fa-facebook"></i></li></a>
						{% endif %}
						{% if member.twitter != '' %}
							<a class="social-twitter" href="{{ member.twitter }}"><li><i class="fa fa-twitter"></i></li></a>
						{% endif %}
					</ul>
				</td>
				<td class="b">{{ member.interests }}</td>
			</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>

<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
<script>
	fbs = $('.social-facebook');
	tws = $('.social-twitter');
	
	if (typeof String.prototype.startsWith != 'function') {
		// see below for better implementation!
		String.prototype.startsWith = function (str){
			return this.indexOf(str) == 0;
		};
	}
	
	for (var i = 0; i < fbs.length; i++) {
		var f = $(fbs[i])
		hrf = f.attr('href')
		if (hrf != '' ) {
			url = ''
			if (!hrf.startsWith('http://facebook.com')) {
				url = 'http://facebook.com/'+hrf
			}
			f.attr('href', url)
		}
	};
	
	for (var i = 0; i < tws.length; i++) {
		var t = $(tws[i])
		hrf = t.attr('href')
		if (hrf != ''){
			url = ''
			if (!hrf.startsWith('http://twitter.com')) {
				url = 'http://twitter.com/'+hrf
			}
			t.attr('href', url)
		}
	};
	var emails = $('.member-email')
	for (var i = 0; i < emails.length; i++) {
		var email = $(emails[i]);
    	var emailHash = CryptoJS.MD5(email.html()).toString();
    	var corres_name = $('.member-name')[i]
    	$(corres_name).prepend($('<img>', { src:'http://www.gravatar.com/avatar/' + emailHash }));
	};
</script>