<div class="col-md-4 col-sm-12 col-xs-12">

  <a class="twitter-timeline" href="https://twitter.com/fossasia" data-widget-id="556102723695685634">Tweets by @fossasia</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <div class="fb-like-box" data-href="https://www.facebook.com/fossasia" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-width="350px" data-height="400px" data-show-border="true" style="margin-top:30px; margin-bottom:40px;"></div>

</div>

<div class="col-md-12" style="margin-top: 20px; ">

  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

  <section class="table-page">
    <div class="container"> 
      <div class="table-area text-center">
        <div class="row">

          <div class="col-md-4 plan item-one wow fadeInDown" style="padding-right:50px;">
            <ul>
              <li class="heading-one">
                <h1 class="section-table-heading">Fossasia Updates</h1>
              </li>
              <li>
                <div id="mc_embed_signup">
                  <form action="//fossasia.us9.list-manage.com/subscribe/post?u=d5cf526b4ceea238da3512fb3&amp;id=2be821d83b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">

                      <input type="email" value="" name="EMAIL"style="width:95%" class="email" id="mce-EMAIL" placeholder="email address" required>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;"><input type="text" name="b_d5cf526b4ceea238da3512fb3_2be821d83b" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </div>

          <div class="col-md-4 plan item-one wow fadeInDown" style="padding-right:50px;">
            <ul>
              <li class="heading-one" style="background:#2476A1;">
                <h1 class="section-table-heading">Organizer</h1>
              </li>
              <li>
                <a href="http://mbm.vn"><img style="width: 265px" class="centerize" src="{{ site.baseurl }}/images/mbm.png" alt="MBM make your ideas work"/></a>
              </li>
            </ul>
          </div>

          <div class="col-md-4 plan item-one wow fadeInDown" style="padding-right:50px;">
            <ul>
              <li class="heading-one" style="background:#FFC328;">
                <h1 class="section-table-heading">Host</h1>
              </li>
              <li>
                <a href="{{ site.baseurl }}/raffles"><img style="width: 210px" class="centerize" src="{{ site.baseurl }}/images/raffles.png" alt="Raffles"/></a>
              </li>
            </ul>
          </div>

        </div>
      </div><!--/table-area-->
    </div><!--/container-->
  </section><!--/table-page-->

</div>

<section class="table-page">
  <div class="container"> 
    <div class="table-area text-center">
      <div class="row">
        <div class="col-md-12 plan price-three wow fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">

          <ul>
            <li class="heading-three">
              <h1 class="section-table-heading">Projects<a style="cursor:pointer; margin-left:20px;" id="projectshowbtn"><img src="http://houseliftinc.com/wp-content/uploads/2014/04/down-arrow-1.png" style="height: 30px;"></a></h1>
            </li>
            <li>
              <div class="section-body logo-s row"align="center">
                <div class="col-md-3 col-sm-3 logo-col">
                  <div><a href="http://www.debian.org/"><img class="logos" src="{{ site.baseurl }}/images/debian.png" alt="Debian"/></a></div>
                  <div><a href="http://www.debian.org/"><img class="logos" src="{{ site.baseurl }}/images/drupal.png" alt="drupal"/></a></div>
                  <div><a href="http://fedoraproject.org/"><img class="logos" src="{{ site.baseurl }}/images/fedora.png" alt="fedora"/></a></div>
                  <div><a href="http://www.blackray.org/"><img class="logos" src="{{ site.baseurl }}/images/blackray.png" alt="blackray"/></a></div>
                  <div><a href="http://mozilla.org/"><img class="logos" src="{{ site.baseurl }}/images/mozilla.png" alt="mozilla"/></a></div>
                  <div><a href="http://lubuntu.net/"><img class="logos" src="{{ site.baseurl }}/images/lubuntu.png" alt="lubuntu"/></a></div>
                </div>
                <div class="col-md-3 col-sm-3 logo-col">
                  <div><a href="http://opendesign.asia/"><img class="logos" src="{{ site.baseurl }}/images/opendesign.png" alt="opendesign"/></a></div>
                  <div><a href="http://nosql-database.org/"><img class="logos" src="{{ site.baseurl }}/images/nosql.png" alt="nosql"/></a></div>
                  <div><a href="http://olpc.vn/"><img class="logos" src="{{ site.baseurl }}/images/olpc.png" alt="olpc"/></a></div>
                  <div><a href="http://tiddlywiki.com/"><img class="logos" src="{{ site.baseurl }}/images/tiddlywiki.png" alt="tiddlywiki"/></a></div>
                  <div><a href="http://status.net/"><img class="logos" src="{{ site.baseurl }}/images/statusnet.png" alt="statusnet"/></a></div>
                  <div><a href="http://yacy.net/"><img class="logos" src="{{ site.baseurl }}/images/yacy.png" alt="yacy"/></a></div>
                </div>
                <div class="col-md-3 col-sm-3 logo-col">
                  <div><a href="http://ubuntu-vn.org/"><img class="logos" src="{{ site.baseurl }}/images/ubuntu_vn.png" alt="ubuntu vn"/></a></div>
                  <div><a href="http://xpud.org/"><img class="logos" src="{{ site.baseurl }}/images/xpud.png" alt="xpud"/></a></div>
                  <div><a href="http://www.exoplatform.com/"><img class="logos" src="{{ site.baseurl }}/images/exo.png" alt="exo"/></a></div>
                  <div><a href="http://freifunk.net/"><img class="logos" src="{{ site.baseurl }}/images/freifunk.png" alt="freifunk"/></a></div>
                  <div><a href="http://www.joomla.org/"><img class="logos" src="{{ site.baseurl }}/images/joomla-logo.png" alt="joomla"/></a></div>
                  <div><a href="http://libregraphicsmeeting.org/"><img class="logos" src="{{ site.baseurl }}/images/libre.png" alt="libre"/></a></div>
                </div>
                <div class="col-md-3 col-sm-3 logo-col">
                  <div><a href="http://www.android.com/"><img class="logos" src="{{ site.baseurl }}/images/android.png" alt="android"/></a></div>
                  <div><a href="http://www.mariadb.org/"><img class="logos" src="{{ site.baseurl }}/images/mariadb.png" alt="mariadb"/></a></div>
                  <div><a href="http://tomatocms.com/"><img class="logos" src="{{ site.baseurl }}/images/tomatocms.png" alt="tomatocms"/></a></div>
                  <div><a href="http://eden.sahanafoundation.org/"><img class="logos" src="{{ site.baseurl }}/images/sahana_eden.png" alt="sahana"/></a></div>
                  <div><a href="http://www.typo3.com/"><img class="logos" src="{{ site.baseurl }}/images/typo3.png" alt="typo3"/></a></div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div><!--/table-area-->
  </div><!--/container-->
</section><!--/table-page-->
<section class="table-page">
  <div class="container"> 
    <div class="table-area text-center">
      <div class="row" style="margin-top:20px;">

        <div class="col-md-4 plan item-one wow fadeInDown" style="padding-right:50px;">
          <ul>
            <li class="heading-one" style="background:#0C398E;">
              <h1 class="section-table-heading">Sponsors</h1>
            </li>
            <li><a href="{{ site.baseurl }}/openoffice"><img style="width: 265px" class="centerize" src="{{ site.baseurl }}/images/openoffice.png" alt="OpenOffice"/></a></li>
            <li><a href="{{ site.baseurl }}/seacem"><img style="width: 265px" class="centerize" src="{{ site.baseurl }}/images/seacem.png" alt="OpenOffice"/></a></li>
            <li><a href="{{ site.baseurl }}/webessentials"><img style="width: 265px" class="centerize" src="{{ site.baseurl }}/images/webessentials.png" alt="OpenOffice"/></a></li>
          </ul>
        </div>

        <div class="col-md-4 plan item-one wow fadeInDown" style="padding-right:50px;">
          <ul>
            <li class="heading-one" style="background:#EC1923;">
              <h1 class="section-table-heading">Media Partner</h1>
            </li>
            <li><a href="http://www.pcworld.com.vn/"><img style="width: 200px" class="centerize" src="{{ site.baseurl }}/images/TGVT.gif" alt="TVGT"/></a></li>
          </ul>
        </div>

        <div class="col-md-4 plan item-one wow fadeInDown" style="padding-right:50px;">
          <ul>
            <li class="heading-one" style="background:#00408B;">
              <h1 class="section-table-heading">Hotel Partner</h1>
            </li>
            <li><a href="http://hotelxoai.com/"><img style="width: 200px" class="centerize" src="{{ site.baseurl }}/images/xoai.png" alt="Xoai"/></a></li>
          </ul>
        </div>

      </div>
    </div><!--/table-area-->
  </div><!--/container-->
</section><!--/table-page-->

<div class="row">
  <hr/>

  <div class="col-md-8" style="margin-left:-20px;">

    <section class="table-page">
      <div class="container"> 
        <div class="table-area text-center">
          <div class="row">
            <div class="col-md-8 plan item-two wow fadeInDown" id="ourfriends-masterdiv">
              <ul id="ourfriends">
                <li class="heading-two">
                  <h1 class="section-table-heading">Our Friends</h1>
                </li>
                <li class="col-md-6 col-sm-6 col-xs-6 grey"><a href="http://icos.org.tw/" id="dhtml_menu-349-1">ICOS, Taiwan</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 white"><a href="http://hpdang.com" id="dhtml_menu-343-1">HPDang</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 white"><a href="http://www.fisl.org.br/" id="dhtml_menu-344-1">FISL, Brazil</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 grey"><a href="http://www.fosdem.org/" id="dhtml_menu-345-1">FOSDEM, Brussels</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 grey"><a href="http://perspektive89.com" id="dhtml_menu-2967-1">Perspektive&#039;89</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 white"><a href="http://libregraphics.asia" id="dhtml_menu-346-1">Libre Graphics Images Indonesia</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 white"><a href="http://mekongtours.info" id="dhtml_menu-347-1">Fair Travel Mekong Tours Agency</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 grey"><a href="http://www.froscon.de" id="dhtml_menu-2966-1">FrOScon</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 grey"><a href="http://hackerspace.sg" id="dhtml_menu-1780-1">Hackerspace Singapore</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 white"><a href="http://www.laquadrature.net" id="dhtml_menu-2968-1">La Quadrature du Net</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 white"><a href="http://www.typo3cambodia.org" id="dhtml_menu-1779-1">Typo3 Cambodia</a></li>
                <li class="col-md-6 col-sm-6 col-xs-6 grey"><a href="http://meshcon.net" id="dhtml_menu-3526-1">MeshCon FashionTec Week</a></li>
              </ul>
            </div>
            <div class="col-md-4 plan item-one wow fadeInDown" style="padding-right:50px;">
              <ul>
                <li class="heading-one">
                  <h1 class="section-table-heading">FOSSASIA</h1>
                </li>
                <li><a href="http://fossasia.org/">FOSSASIA Website</a></li>
                <li><a href="http://2011.fossasia.org/">FOSSASIA 2011</a></li>
                <li><a href="http://blog.fossasia.org/">FOSSASIA Blog</a></li>
                <li><a href="http://groups.google.com/group/fossasia">Mailing list</a></li>
              </ul>
            </div>
          </div>
        </div><!--/table-area-->
      </div><!--/container-->
    </section><!--/table-page-->
  </div>
</div>

<section class="table-page" style="margin-top:50px;">
  <div class="container"> 
    <div class="table-area text-center">
      <div class="row">
        <div class="col-md-12 plan price-three wow fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;">

          <ul>
            <li class="heading-three">
              <h1 class="section-table-heading">Flickr Images</h1>
            </li>
            <li>
              <div id="flickr_badge_wrapper">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&display=latest&size=t&layout=h&source=all_tag&tag=fossasia2010"></script>
              </div>
            </li>
            <li class="plan-action" style="margin-top:-40px;">
              <a href="http://www.flickr.com/search/?q=fossasia2010&m=tags" class="btn btn-primary">See more images</a>
            </li>
          </ul>

        </div>
      </div>
    </div><!--/table-area-->
  </div><!--/container-->
</section><!--/table-page-->

<a href="#" class="scrollToTop"></a>

<style type="text/css">
.scrollToTop{
  width:60px; 
  height:60px;
  padding:10px; 
  text-align:center; 
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  top:75px;
  right:40px;
  display:none;
  background: url(http://www.mydrivenortheast.com/images/scroll.png) no-repeat 0px 0px;
  background-size: cover;
}
.scrollToTop:hover{
  text-decoration:none;
}
</style>

<script type="text/javascript">
$( document ).ready(function() {

  if ($(window).width()< 768) $(".logo-s").css("display","none");

    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('.scrollToTop').fadeIn();
      } else {
        $('.scrollToTop').fadeOut();
      }
    });
    
    //Click event to scroll to top
    $('.scrollToTop').click(function(){
      $('html, body').animate({scrollTop : 0},800);
      return false;
    });
    
  });
$("#projectshowbtn").click(function(){
  if ( $( ".logo-s" ).is( ":hidden" ) ) {
    $( ".logo-s" ).slideDown( "slow" );
  } else {
    $( ".logo-s" ).slideUp("slow");
  }
});
</script>
