<div class="col-md-4" style="margin-top: 20px; ">
  <a class="twitter-timeline" href="https://twitter.com/fossasia" data-widget-id="552508029888106496">Tweets from @fossasia </a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <div class="section-header">
    <p>FOSSASIA UPDATES</p>
  </div>
  <div class="section-body">
    <div id="mc_embed_signup">
      <form action="//fossasia.us9.list-manage.com/subscribe/post?u=d5cf526b4ceea238da3512fb3&amp;id=2be821d83b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          
          <input type="email" value="" name="EMAIL"style="width:95%" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_d5cf526b4ceea238da3512fb3_2be821d83b" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="section-header">
    <p>SCHEDULE</p>
  </div>
  <div class="section-body">
    <ul>
      <li><a href="schedule.html">Timeline</a></li>
      <li><a href="minidebconf.html">MiniDebConf</a></li>
      <li><a href="unconference.html">UnConference</a></li>
    </ul>
  </div>
  <div class="section-header">
    <p>ORGANIZER</p>
  </div>
  <div class="section-body">
    <a href="http://mbm.vn"><img style="width: 265px" class="centerize" src="{{ site.baseurl }}/images/mbm.png" alt="MBM make your ideas work"/></a><br/>
  </div>
  <div class="section-header">
    <p>HOST</p>
  </div>
  <div class="section-body">
    <a href="raffles.html"><img style="width: 210px" class="centerize" src="{{ site.baseurl }}/images/raffles.png" alt="Raffles"/></a><br/>
  </div>
  <div class="section-header">
    <p>PROJECTS</p>
  </div>
  <div class="section-body logo-s">
    <span style="display:block;text-align: center;margin-bottom:20px">
    <a href="http://www.debian.org/">
    <img class="logos" src="{{ site.baseurl }}/images/debian.png" alt="Debian"/></a><br/>
    <a href="http://www.drupal.org/">
    <img class="logos" src="{{ site.baseurl }}/images/drupal.png" alt="drupal"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://fedoraproject.org/">
    <img class="logos" src="{{ site.baseurl }}/images/fedora.png" alt="fedora"/></a><br/>
    <a href="http://www.blackray.org/">
    <img class="logos" src="{{ site.baseurl }}/images/blackray.png" alt="blackray"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://mozilla.org/">
    <img class="logos" src="{{ site.baseurl }}/images/mozilla.png" alt="mozilla"/></a><br/>
    <a href="http://lubuntu.net/">
    <img class="logos" src="{{ site.baseurl }}/images/lubuntu.png" alt="lubuntu"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://opendesign.asia/">
    <img class="logos" src="{{ site.baseurl }}/images/opendesign.png" alt="opendesign"/></a><br/>
    <a href="http://nosql-database.org/">
    <img class="logos" src="{{ site.baseurl }}/images/nosql.png" alt="nosql"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://olpc.vn/">
    <img class="logos" src="{{ site.baseurl }}/images/olpc.png" alt="olpc"/></a><br/>
    <a href="http://tiddlywiki.com/">
    <img class="logos" src="{{ site.baseurl }}/images/tiddlywiki.png" alt="tiddlywiki"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://status.net/">
    <img class="logos" src="{{ site.baseurl }}/images/statusnet.png" alt="statusnet"/></a><br/>
    <a href="http://yacy.net/">
    <img class="logos" src="{{ site.baseurl }}/images/yacy.png" alt="yacy"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://ubuntu-vn.org/">
    <img class="logos" src="{{ site.baseurl }}/images/ubuntu_vn.png" alt="ubuntu vn"/></a><br/>
    <a href="http://xpud.org/">
    <img class="logos" src="{{ site.baseurl }}/images/xpud.png" alt="xpud"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://www.exoplatform.com/">
    <img class="logos" src="{{ site.baseurl }}/images/exo.png" alt="exo"/></a><br/>
    <a href="http://freifunk.net/">
    <img class="logos" src="{{ site.baseurl }}/images/freifunk.png" alt="freifunk"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://www.joomla.org/">
    <img class="logos" src="{{ site.baseurl }}/images/joomla-logo.png" alt="joomla"/></a><br/>
    <a href="http://libregraphicsmeeting.org/">
    <img class="logos" src="{{ site.baseurl }}/images/libre.png" alt="libre"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://www.android.com/">
    <img class="logos" src="{{ site.baseurl }}/images/android.png" alt="android"/></a><br/>
    <a href="http://www.mariadb.org/">
    <img class="logos" src="{{ site.baseurl }}/images/mariadb.png" alt="mariadb"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://tomatocms.com/">
    <img class="logos" src="{{ site.baseurl }}/images/tomatocms.png" alt="tomatocms"/></a><br/>
    <a href="http://eden.sahanafoundation.org/">
    <img class="logos" src="{{ site.baseurl }}/images/sahana_eden.png" alt="sahana"/></a><br/>
    </span>
    <span style="display:block;text-align: center;">
    <a href="http://www.typo3.com/">
    <img class="logos" src="{{ site.baseurl }}/images/typo3.png" alt="typo3"/></a><br/>
    </span>
  </div>
  <div class="section-header">
    SPONSORS
  </div>
  <div class="section-body">
    <a href="openoffice.html"><img style="width: 265px" class="centerize" src="{{ site.baseurl }}/images/openoffice.png" alt="OpenOffice"/></a><br/><br/>
    <a href="seacem.html"><img style="width: 265px" class="centerize" src="{{ site.baseurl }}/images/seacem.png" alt="OpenOffice"/></a><br/><br/>
    <a href="webessentials.html"><img style="width: 265px" class="centerize" src="{{ site.baseurl }}/images/webessentials.png" alt="OpenOffice"/></a><br/>
  </div>
  <div class="section-header">
    MEDIA PARTNER
  </div>
  <div class="section-body">
    <a href="http://www.pcworld.com.vn/"><img style="width: 200px" class="centerize" src="{{ site.baseurl }}/images/TGVT.gif" alt="TVGT"/></a><br/>
  </div>
  <div class="section-header">
    HOTEL PARTNER
  </div>
  <div class="section-body">
    <a href="http://hotelxoai.com/"><img style="width: 200px" class="centerize" src="{{ site.baseurl }}/images/xoai.png" alt="Xoai"/></a><br/>
  </div>
</div>
</div>
<div class="row">
<hr/>
<div class="col-md-6">
  <div class="section-header">
    OUR FRIENDS
  </div>
  <div class="section-body">
    <ul>
      <li><a href="http://icos.org.tw/" id="dhtml_menu-349-1">ICOS, Taiwan</a></li>
      <li><a href="http://hpdang.com" id="dhtml_menu-343-1">HPDang</a></li>
      <li><a href="http://www.fisl.org.br/" id="dhtml_menu-344-1">FISL, Brazil</a></li>
      <li><a href="http://www.fosdem.org/" id="dhtml_menu-345-1">FOSDEM, Brussels</a></li>
      <li><a href="http://perspektive89.com" id="dhtml_menu-2967-1">Perspektive&#039;89</a></li>
      <li><a href="http://libregraphics.asia" id="dhtml_menu-346-1">Libre Graphics Images Indonesia</a></li>
      <li><a href="http://mekongtours.info" id="dhtml_menu-347-1">Fair Travel Mekong Tours Agency</a></li>
      <li><a href="http://www.froscon.de" id="dhtml_menu-2966-1">FrOScon</a></li>
      <li><a href="http://hackerspace.sg" id="dhtml_menu-1780-1">Hackerspace Singapore</a></li>
      <li><a href="http://www.laquadrature.net" id="dhtml_menu-2968-1">La Quadrature du Net</a></li>
      <li><a href="http://www.typo3cambodia.org" id="dhtml_menu-1779-1">Typo3 Cambodia</a></li>
      <li><a href="http://meshcon.net" id="dhtml_menu-3526-1">MeshCon FashionTec Week</a></li>
    </ul>
  </div>
  <a href="http://fossasia.org"><img style="height: 60px; display:block; margin: 10px auto" src="{{ site.baseurl }}/images/fever_logo.png" /></a><br/>
</div>
<div class="col-md-6">
  <div class="section-header">
    FACEBOOK
  </div>
  <div class="section-body" style="background-color: white">
    <div class="fb-like-box" data-href="https://www.facebook.com/fossasia" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-width="550px" data-height="206px" data-show-border="true"></div>
  </div>
  <div class="section-header">
    <p>FOSSASIA</p>
  </div>
  <div class="section-body">
    <ul>
      <li><a href="http://fossasia.org/">FOSSASIA Website</a></li>
      <li><a href="http://2011.fossasia.org/">FOSSASIA 2011</a></li>
      <li><a href="http://blog.fossasia.org/">FOSSASIA Blog</a></li>
      <li><a href="http://groups.google.com/group/fossasia">Mailing list</a></li>
    </ul>
  </div>
</div>
</div>
<div class="col-md-12">
<div class="row">
  <div class="section-header">
    <p>FLICKR IMAGES</p>
  </div>
  <div class="section-body">
    <div id="flickr_badge_wrapper"><script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&display=latest&size=t&layout=h&source=all_tag&tag=fossasia2010"></script>
  </div>
  <a href="http://www.flickr.com/search/?q=fossasia2010&m=tags" style="float: right">See more images</a>
</div>
</div>
</div>
</div>
<div style="margin-top: 30px; padding: 10px 10px; width: 100%; background-color: black; color: white; height: 35px">
Content available on <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.pl">CC-BY-SA license</a>&nbsp;|&nbsp;<a href="#" class="scrollToTop">Scroll to top</a>
<span style="display:block;float:right">
<a href="http://2010.fossasia.org/">Ported from Drupal</a> by Tymon Radzik 2015 during Google Code-In contest</a>
</span>