<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ page.title }} - FOSSASIA 2010 Conference</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
	
		$('.scrollToTop').click(function(){
			$('html, body').animate({scrollTop : 0},800);
			return false;
		});
		
	})
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>