<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">
				<img style="max-width:100px;margin-top: auto;" src="{{ site.baseurl }}/images/fossasia-dark.png" alt="fossasia logo" />
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/hotels_and_accommodation">Hotels & Accommodation</a></li>
				<li><a href="{{ site.baseurl }}/whos_coming">Who's coming</a></li>
				<li><a href="{{ site.baseurl }}/location">Location</a></li>
				<li><a href="{{ site.baseurl }}/venue">Venue</a></li>
				<li><a href="{{ site.baseurl }}/schedule">Schedule</a></li>
				<li><a href="{{ site.baseurl }}/minidebconf">MiniDebConf</a></li>
				<li><a href="{{ site.baseurl }}/unconference">UnConference</a></li>
				<li><a href="{{ site.baseurl }}/about">About</a></li>
				<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>